<app-menu></app-menu>

<div class="container">
  <h1>Kirstin J.</h1>
  <p>
    Kirstin J. is a driven over-comer. Society dimmed her as a statistic when she became a teen mom at the age of 15. She used those uncomfortable circumstances and challenges as an opportunity to rewrite her journey. With support, determination and motivation, she continued her education, professional and personal growth throughout the years. She holds a bachelor’s degree in organizational communication and a master’s degree in management and leadership with her graduate certificate in project management. As a mother and professional, she remains steadfast in breaking barriers professionally as she has a strong desire in helping others meet their greatest potential. Author of Sincerely, Kirstin J., she is a firm believer that the sky is the limit to every dream a person is committed to making a reality.
  </p>
</div>
