<app-menu></app-menu>

<div class="container">
  <h1>About Us</h1>

  <p>
    <i>One Day She Leveled Up</i> is a group of women who are embarking on a remarkable journey of change. The definition of driven women, eager to receive all that God has. We write our goals, desires, and visions in plain sight and purposely put them into action while holding each other accountable every step of the way. I challenge you on this journey to try some new strategies and tactics. Hold yourself accountable for your actions. Teach yourself discipline in areas you want to see improved. Place yourself at a higher standard and make change happen in your life. You deserve it!
  </p>

  <img src="assets/llu.jpg" width="200px" height="200px" alt="">
</div>
