
<div class="container">
  <div class="header">
    <app-menu></app-menu>
  </div>
</div>

<div class="learn-more">
  <h1>One Day She Leveled Up...</h1>
    <p>
      Give yourself the green light to go after it all! I mean ALL!
      Many times, we become complacent with being content where we are. We set limitations on our desires and dreams because we believe it's not the right time or we’re not there yet to do a little more.That kind of mentality will keep you stagnant in reaching your full potential because a dream without action is only a dream. You are equipped to reach your desires. You hold yourself back when you tell yourself you can’t do it right now.It doesn’t matter if you’re wanting to heal from past trauma, pursue higher education, make a career change, desire a promotion, change your lifestyle to what you believe healthy is, organize a fitting schedule for your family, experience financial stability,  or all the above. You have the power to make it happen!
    </p>
    <button (click)="onLearnMoreClick()">Learn More</button>
</div>

<!-- <div class="wrapper">
  <div class="wrapper-child parralax bg-logo">
  </div>
  <div class="wrapper-child learn-more">
    <h1>One Day She Leveled Up...</h1>
      <p>
        Give yourself the green light to go after it all! I mean ALL!

        Many times, we become complacent with being content where we are. We set limitations on our desires and dreams because we believe it's not the right time or we’re not there yet to do a little more.

        That kind of mentality will keep you stagnant in reaching your full potential because a dream without action is only a dream. You are equipped to reach your desires. You hold yourself back when you tell yourself you can’t do it right now.

        It doesn’t matter if you’re wanting to heal from past trauma, pursue higher education, make a career change, desire a promotion, change your lifestyle to what you believe healthy is, organize a fitting schedule for your family, experience financial stability,  or all the above. You have the power to make it happen!
      </p>

      <button (click)="onLearnMoreClick()">Learn More</button>

  </div>
</div> -->
